.meow{
    text-align: center;
    background-color:#5E35B1;
    width: 100%;
    padding: none;
    height:100%;
    position:fixed;
    overflow: auto;
}

.choosebutt{
    background-color: #651FFF;
    color: #EDE7F6;
    border: 2px solid #EDE7F6;
    padding: 10px 25px;
    text-align:center;
    display: inline block;
    font-size: 15px;
    margin:auto;
    cursor:pointer;
    box-shadow:0px 0px 1px  #D1C4E9;

}

.choosebutt:hover{
    background-color: #7C4DFF;
    
        
}

.choosebutt:active{
    background-color: #6200EA;
    color: #D1C4E9;
}

.head{
    box-shadow: 0px 2px 2.5px 0.5px #D1C4E9;
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: none;
}

.headbutt{
    background-color: #EDE7F6;
    border:1px solid #5E35B1;
    color: #5E35B1;
    padding: 15px 32px;
    text-align:center;
    font-size: 18px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}

.headbutt:hover{
    background-color:#F5F5F5;
}

.headbutt:active{
    background-color: #D1C4E9;
}

.image{
    margin: auto;
    margin-bottom: 4px;
    max-height: 50%;
    border: 1px solid #EDE7F6;
    box-shadow:0px 0px 2px #D1C4E9;

}

.body{
    width: 50%;
    min-height: auto;
    box-shadow:0px 0px 10px #D1C4E9;
    text-align: center;
    margin: auto;
    margin-bottom: none;
    border: 1px solid #5E35B1;
    text-align: center;
    overflow:auto;
    word-wrap: break-word;
    flex-grow: 4;
    -webkit-flex-grow: 5;
    -ms-flex-grow: 5;
    padding: 10px;
}

.container{
    font: 17px Verdana;
    width: 70%;
    vertical-align: middle;
    border: none;
    color: #311B92;
    margin: auto;
    background-color: white;
    height: 98%;
    padding-bottom: .5%;
    padding-top: .5%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}




